.main-nav {
  font-family: $sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green; // REMOVE
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav > ul > li {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // display: inline;
  margin: 10px;
  padding: 8px;
  background-color: $light-gray; // REMOVE
}

.right-nav > ul > li {

  margin: 5px;
  padding: 8px;
  background-color: gray; // REMOVE
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}


.right-nav i {

}
